{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Iniciar Sesion</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Iniciar Sesion</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿No tienes una cuenta aún? <a class="ml-2" href="{% url 'register' %}">Registrate ya</a>
            </small>
            

        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                O inicia Sesion con <a href="/accounts/google/login/?process=login">Google</a>
            </small>
            

        </div>

        
    </div>
{% endblock content %}